<main id="portfolio" class="portfolio">
  <div class="portfolio__info">
    <div class="portfolio__title">
      <span class="portfolio__letter">p</span><span class="portfolio__letter">o</span><span class="portfolio__letter">r</span><span class="portfolio__letter">t</span><span class="portfolio__letter">f</span><span class="portfolio__letter">o</span><span class="portfolio__letter">l</span><span class="portfolio__letter">i</span><span class="portfolio__letter">o</span>
    </div>
    <p class="portfolio__text">Some projects.</p>
  </div>

  <div (click)="showPortfolio()" [ngClass]="isPortfolioShown ? 'portfolio__icon--up' : 'portfolio__icon--down'" class="portfolio__icon"></div>
  <div [ngClass]="isPortfolioShown ? 'portfolio__grid--visible' : 'portfolio__grid--hidden'" class="portfolio__grid">

    <div class="portfolio__project" *ngFor="let project of projects">
      <a target="_blank" [href]="project.href">
        <img [src]="project.src" [alt]="project.name" class="portfolio__image">
      </a>
    </div>
  </div>
</main>
