<main id="portfolio" class="portfolio">
  <div class="portfolio__info">
    <span class="portfolio__span">Portfolio</span>
    <p class="portfolio__text">Some projects.</p>
  </div>

  <div (click)="showPortfolio()" [ngClass]="isPortfolioShown ? 'portfolio__icon--up' : 'portfolio__icon--down'" class="portfolio__icon"></div>
  <div *ngIf="isPortfolioShown" class="portfolio__grid">

    <div class="portfolio__project" *ngFor="let project of projects">
      <a target="_blank" [href]="project.href">
        <img [src]="project.src" [alt]="project.name" class="portfolio__image">
      </a>
    </div>
  </div>
</main>
