<main id="portfolio" class="portfolio">
  <div class="portfolio__info">
    <div class="portfolio__title">
      <span class="portfolio__letter">p</span><span class="portfolio__letter">o</span><span class="portfolio__letter">r</span><span class="portfolio__letter">t</span><span class="portfolio__letter">f</span><span class="portfolio__letter">o</span><span class="portfolio__letter">l</span><span class="portfolio__letter">i</span><span class="portfolio__letter">o</span>
    </div>
    <p class="portfolio__text">In this section, you can find some personal projects that I’d like to share with you. If you hover over each image, you'll see a brief description of the project.</p>
  </div>

  <div (click)="showPortfolio()" [ngClass]="isPortfolioShown ? 'portfolio__icon--up' : 'portfolio__icon--down'" class="portfolio__icon"></div>
  <div [ngClass]="isPortfolioShown ? 'portfolio__grid--visible' : 'portfolio__grid--hidden'" class="portfolio__grid">

    <div class="portfolio__project" *ngFor="let project of projects">
      <img [src]="project.src" [alt]="project.name" class="portfolio__image">
      <a target="_blank" [href]="project.href" class="project__container">
        <span class="project__info">{{ project.text }}</span>
        <span class="project__made">Made by: <span>Sebastian Rios</span></span>
      </a>
    </div>
  </div>
</main>
