<header class="header">
  <div class="header__logo">
    <img src="./assets/logo.png" alt="logo" class="header__image">
    <h3 class="header__title">Sebastian's Portfolio</h3>
  </div>

  <img (click)="showMenu(true)" *ngIf="!isMenuShown" src="./assets/icon-hamburger.svg" alt="icono menu" class="header__menu">
  <nav [ngClass]="isMenuShown ? 'header__nav--visible' : 'header__nav--hidden'" class="header__nav">
    <img (click)="showMenu(false)" src="./assets/icon-close.svg" alt="icono close" class="header__close">
    <a (click)="showMenu(false)" class="header__link" href="#skills">Skills</a>
    <a (click)="showMenu(false)" class="header__link" href="#portfolio">Portfolio</a>
    <a (click)="showMenu(false)" class="header__link" href="#contact">Contact</a>
  </nav>
</header>
