<section id="skills" class="skills">
  <div class="skills__title">
    <span class="skills__letter">s</span><span class="skills__letter">k</span><span class="skills__letter">i</span><span class="skills__letter">l</span><span class="skills__letter">l</span><span class="skills__letter">s</span>
  </div>
  <div class="skills__info">
    <p>Hi, I'm a <span class="skills__area">Frontend Developer</span>.</p>
    <p>I have professional experience using <span class="skills__area">Vue.js</span> with Vuex for state management and ElementUI for pre-built components. Additionally, I have experience with <span class="skills__area">PHP</span>, specifically working with the Phalcon framework.</p>
    <p>I’ve also completed personal projects using <span class="skills__area">Angular</span> and PrimeNG, and I have knowledge of <span class="skills__area">React</span> and MaterialUI.</p>
    <p>Apart from that, I’m skilled in HTML, SCSS, JavaScript, and TypeScript. I’ve worked on projects involving MySQL, MongoDB, and SQLServer, and have a solid understanding of SQL.</p>
    <p>I’ve finished courses on data science with Python, where I’ve used libraries like Numpy, Pandas, StatsModels, and TensorFlow.</p>
    <p>Lastly, I possess a professional English level.</p>
  </div>
</section>
