<section id="skills" class="skills">
  <h3 class="skills__title">Skills</h3>
  <!-- <div (click)="showSkills(false)" *ngIf="isSkillShown" class="skills__icon skills__icon--up"></div>
  <div (click)="showSkills(true)" *ngIf="!isSkillShown" class="skills__icon skills__icon--down"></div> -->
  <div class="skills__info">
    <p>Hi, I'm a <span class="skills__area">Frontend Developer</span> and Electronic Engineer.</p>
    <p>Currently I'm focusing on improving my Angular skills. I really like Angular and PrimeNG.</p>
    <p>Apart of Angular, I have experience with HTML, SCSS, JavaScript and TypeScript.</p>
    <p>I have done some projects with MySQL, MongoDB and SQLServer.</p>
    <p>Leaving that aside, I have finished some courses on data science with Python.</p>
    <p>In Python I have used some libraries like Numpy, Pandas, StatsModels and TensorFlow.</p>
  </div>
</section>
