<footer id="contact" class="footer">
  <div class="footer__grid">
    <div class="footer__info">
      <h3 class="footer__info-title">Info</h3>
      <p class="footer__name">Sebastian Rios Rico</p>
      <p class="footer__name">Frontend Developer</p>
      <p class="footer__email">sebastianriosrico@gmail.com</p>
      <p class="footer__location">Villavicencio, Meta, Colombia</p>
    </div>
    <div class="footer__socials">
      <h3 class="footer__info-socials">Socials</h3>
      <div class="footer__images">
        <a href="https://www.linkedin.com/in/sebastianriosrico/" class="footer__link">
          <img src="../../../../assets/icons8-linkedin.svg" alt="linkedin icon" class="footer__icon">
        </a>
        <a href="https://github.com/sebasrios977" class="footer__link">
          <img src="../../../../assets/icons8-github.svg" alt="github icon" class="footer__icon">
        </a>
        <a href="https://www.facebook.com/sebastian.riosrico/" class="footer__link">
          <img src="../../../../assets/icons8-facebook.svg" alt="facebook icon" class="footer__icon">
        </a>
        <a href="https://twitter.com/sebasrios977" class="footer__link">
          <img src="../../../../assets/icons8-twitter.svg" alt="twitter icon" class="footer__icon">
        </a>
        <a href="https://www.instagram.com/sebastianriosrico/" class="footer__link">
          <img src="../../../../assets/icons8-instagram.svg" alt="instagram icon" class="footer__icon">
        </a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">All rights reserved &copy; {{year}}.</div>
</footer>
